In [34]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [24]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index) # Specialty method for customizing dataframes into multi-index format

In [16]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [18]:
inside

[1, 2, 3, 1, 2, 3]

In [28]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [26]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [36]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [38]:
df

             A         B
G1 1 -1.481332 -1.503265
   2 -2.154470 -0.457649
   3 -0.121663  0.193594
G2 1 -0.374752  0.698358
   2  0.704156 -0.272492
   3 -0.548398 -0.197689

In [42]:
df.loc['G1'] # Note that first level indexing returns a dataframe object

          A         B
1 -1.481332 -1.503265
2 -2.154470 -0.457649
3 -0.121663  0.193594

In [48]:
df.loc['G1'].loc[1]

A   -1.481332
B   -1.503265
Name: 1, dtype: float64

In [52]:
df.index.names = ['Groups','Numbers']

In [54]:
df

                       A         B
Groups Numbers
G1     1       -1.481332 -1.503265
       2       -2.154470 -0.457649
       3       -0.121663  0.193594
G2     1       -0.374752  0.698358
       2        0.704156 -0.272492
       3       -0.548398 -0.197689

In [56]:
df.index.names

FrozenList(['Groups', 'Numbers'])

In [58]:
# Dataframes can have as many layers as needed and indexing will follow the above examples

In [60]:
df.loc['G2']

                A         B
Numbers
1       -0.374752  0.698358
2        0.704156 -0.272492
3       -0.548398 -0.197689

In [64]:
df.loc['G2'].loc[2]['B']

-0.2724924577594771

In [66]:
df.loc['G1'].loc[1]['A']

-1.4813316466738773

In [70]:
df.loc['G1']

                A         B
Numbers
1       -1.481332 -1.503265
2       -2.154470 -0.457649
3       -0.121663  0.193594

In [74]:
df.xs('G1')

                A         B
Numbers
1       -1.481332 -1.503265
2       -2.154470 -0.457649
3       -0.121663  0.193594

In [78]:
df.xs(1,level='Numbers') # XS can skip or bypass index levels

               A         B
Groups
G1     -1.481332 -1.503265
G2     -0.374752  0.698358